.slideable{
	position:relative;
	left:0;
	right:0;
	transition:.45s ease-in;
 	opacity:1;
}
.slideable-left{
	left:-100%;
	opacity:0;
}
.slideable-right{
	left:100%;
	opacity:0;
}
.row{
    display:flex;
    justify-content:center;
    align-items: center;
    width:100%;
}
.col{
    height:50vh;
    width:50%;
    background:pink;
    margin:1em;
}